<template>
  <table class="table">
    <thead>
      <tr>
        <th width="5%" rowspan="2" class="text-center" style="vertical-align: middle;">Rank.</th>
        <th width="88%" :colspan="Object.keys(tasks).length">Tên thí sinh - Trường</th>
        <th width="7%" rowspan="2" class="text-center" style="vertical-align: middle;">Điểm</th>
      </tr>
      <tr>
        <th :width="(88 / Object.keys(tasks).length).toString() + '%'" v-for="task in tasks" class="text-center">{{ task.short_name[0] + task.short_name.substr(1).toLowerCase() }}</th>
      </tr>
    </thead>
    <tbody>
      <template v-for="user in ranking">
        <tr>
          <td class="text-center" style="border-bottom: none; vertical-align: middle;" rowspan="2">{{ user.rank }}</td>
          <td style="border-bottom: none;" class="contestestant-name" :colspan="Object.keys(tasks).length">{{ user.f_name }} - {{ user.l_name }}<div class="main-progress" v-bind:style="{clipPath: 'inset(0 ' + (100 - 100 * user.totalScores / totalScore).toString() + '% 0 0)'}"/></td>
          <td class="text-center" style="border-bottom: none; vertical-align: middle;" rowspan="2">{{ user.totalScores }}</td>
        </tr>
        <tr>
          <td v-for="task in tasks">
            <span v-if="user[task.short_name]" :class="'label label-block ' + (user[task.short_name] === 0 ? 'label-danger' : 'label-success')" v-bind:style="{position: 'relative'}">{{ user[task.short_name] }}
              <center class="sub-progress" v-bind:style="{clipPath: 'inset(0 ' + (100 - 100 * user[task.short_name] / task.max_score).toString() + '% 0 0)'}">{{ user[task.short_name] }}</center>
            </span>
            <span v-else class="label label-default label-block">{{ task.short_name }}</span>
          </td>
        </tr>
      </template>
    </tbody>
    <tfoot v-if="Loading">
      <tr>
        <td colspan="3">
          <center>Loading...</center>
        </td>
      </tr>
    </tfoot>
  </table>
</template>

<script>
export default {
  data: function() {
    return {
      tasks: {},
      users: {},
      scores: {},
      contests: {},
      ranking: {},
      Loading: true ,
      totalScore: 0
    }
  },
  methods: {
    wait: async ms => new Promise(res => setTimeout(res, ms)),
    requests: async function(path, method = 'GET', params) {
      const proxyServer = 'http://localhost:8081/'
      const apiServer = 'https://code.freecontest.xyz/ranking'
      let opts = {
        method,
        credentials: 'include',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        }
      }
      if (method !== 'GET' && params) {
        opts = {
          ...opts, 
          body: JSON.stringify(params)
        }
      }
      return fetch(proxyServer + '?url=' + apiServer + path, opts)
    },
    _transform2: function(obj) {
      return Object.keys(obj).sort((a, b) => obj[a].order - obj[b].order).map((v) => obj[v])
    },
    getContests: async function() { return this.contests = await this.requests('/contests').then(r => r.json()) },
    getTasks: async function() { return this.tasks = await this.requests('/tasks').then(r => r.json()).then(r => this._transform2(r)) },
    getUsers: async function() { return this.users = await this.requests('/users').then(r => r.json()) },
    getScores: async function() { return this.scores = await this.requests('/scores').then(r => r.json()) },
    Init: async function() {
      let Ranking = []
      let _transform = (obj) => Object.keys(obj).map(r => obj[r])
      for (let user in this.users) {
        Ranking.push({ 
          ...this.users[user], 
          ...this.scores[user],
          totalScores: _transform(this.scores[user] || {}).reduce((total, v) => total + v, 0)
        })
      }
      Ranking = Ranking.sort((a, b) => b.totalScores - a.totalScores)
      Ranking[0].rank = 1
      for (var i = 1; i < Ranking.length; ++i) {
        if (Ranking[i].totalScores === Ranking[i - 1].totalScores) {
          Ranking[i].rank = Ranking[i - 1].rank
        } else {
          Ranking[i].rank = i + 1
        }
      }
      return this.ranking = Ranking
    }
  },
  created: async function() {
    const data = await Promise.all([
      this.getTasks(), 
      this.getUsers(),
      this.getScores(),
      this.getContests()
    ])

    this.tasks.forEach(t => this.totalScore += t.max_score)
    this.Loading = false
    this.Init()
  }
}
</script>

<style>
@keyframes load{
  from{
    clip-path: inset(0 100% 0 0);
  }
  to{
    clip-path: auto;
  }
}
body {
  background-color: #000000 !important;
  color: #ffffff !important;
}
.label-block {
  display: block !important;
}
.label {
  margin: -5px -5px -5px -5px !important;
  padding: 5px 0 5px 0 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  font-weight: bold;
  border: 1px solid;
}
.label-default{
  color: #777 !important;
  border-color: #777;
}
.label-success{
  color: #5cb85c !important;
  border-color: #5cb85c;
}
.label-danger{
  color: #d9534f !important;
  border-color: #d9534f;
}
.contestestant-name {
  margin-top: -30px !important;
}
thead tr{
	background-color: #333333;
}
table td:hover{
    background-color: #333333;
}
tbody tr:nth-child(4n + 3), tbody tr:nth-child(4n + 4){
  background-color: #171717;
}
tbody tr:nth-child(odd) td:nth-child(2){
  border-bottom: 2px solid !important;
  position: relative;
}
.main-progress{
  background-color: rgba(0, 0, 0, 0) !important;
  content:'';
  position: absolute !important;
  top: 2px;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border-bottom:2px solid #5cb85c !important;
  border-radius: 0px !important;
  animation: load 1s ease;
}
.sub-progress{
  background-color: #5cb85c !important;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 2;
  width: 100%;
  height: 100%;
  line-height: 20px;
  animation: load 1s ease;
}
tbody tr:nth-child(even) td{
  border: none !important;
}
tbody tr:nth-child(even){
  margin: 3px 0px;
  height: 30px !important;
}
::-webkit-scrollbar{
  width: 6px;
  background-color: #171717;
}
::-webkit-scrollbar-thumb{
  background-color: #757575;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: white;
}
</style>
