<template>
  <div class="container-fluid">
    <h1 class="text-center">Free Contest Ranking</h1>
    <hr>
    <ranking></ranking>
  </div>
</template>

<script>
import Ranking from './components/Ranking.vue'

export default {
  name: 'app',
  components: {
    Ranking
  }
}
</script>